
.home-header {
    backdrop-filter: blur(1.5px);
   
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-container {
    background: rgb(241, 235, 235)
}
.header-btn:hover {
    border-color: white;
}

.home-heading {
    padding: 0px;
    margin: 0px;
    font-size: 17px;
    font-weight: bold;
    margin-left: 30px;
    color: rgb(255, 251, 251);
    font-family: 'Times New Roman', Times, serif;
}

.home-main {
    margin: auto;
    margin-top: -230px; 
    width: 100vw;
    height: 100vh;    
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.8)), url('../../utils/images/Yoga.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:  1230px;
}

.description {
    font-size: 66px;
    color: rgb(255, 255, 5);
    text-align: center;
    margin: 0px;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.5px;
}

.btn-section {
    position: absolute;
    left: 40vw;
    top: 60vh;
}

.btn{
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 10px 20px 10px 20px;
    background-color: rgba(254, 0, 0, 0);
    color: white;
    font-size: 24px;
    border-radius: 8px;
    border-width: 4px;
    cursor: pointer;
}
.btn:hover {
    background: rgba(255,165,0, 0.2);
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}
#about-btn {
    padding: 5px 10px;
}
#about-btn:hover {
    border-color: white;
    background-color: white;
    color: black;
}
#about-btn:focus {
    box-shadow: none;
    background: white;
    border-color: white;
    color: black;
}